* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:200px 1fr 100px ;
    height: 100vh;
    grid-template-areas:
    "adel adel"
    "zobeir me"
    "footer footer"
    ;
}

header {
    grid-area: adel;
    background-color: blue;
}

aside {
    grid-area: zobeir;
    background-color: rgb(151, 137, 137);
}
main {
    grid-area: me;
    background-color: aqua;
}

footer {
    grid-area: footer;
    background-color: #fff;
}