* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows:200px 1fr 100px ;
    height: 100vh;
    grid-template-areas:
    "h h h "
    "a m m"
    "s s s"
    "f f f "
    ;
}

header {
    grid-area: h;
    background-color: blue;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px;
    grid-template-areas: "l";

}

.logo {
    grid-area: l;
    background-color: rgb(203, 186, 186);
}

aside {
    grid-area: a;
    background-color: rgb(151, 137, 137);
    padding: 20px;
}
main {
    grid-area: m;
    background-color: aqua;
    padding: 20px;
}

section {
    grid-area: s;
    background-color:chartreuse;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas:
    "a1 a2 a3";

}

 article {
    grid-area: a1;
    background-color: indianred;
}

p {
    grid-area: a2;
    background-color: rgb(203, 186, 186);
}

.sec_article{
    grid-area: a3;
    background-color:blue;
}

footer {
    grid-area: f;
    background-color: #fff;
    padding: 20px;
}