        h1{
            text-align: center;
        }
        .pictures{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        img{
            border-radius: 7px;
            width: 400px;
            height: 300px;
        }
        .left{
            width: 300px;
            background-color: bisque;
            padding: 10px;
            border-radius: 10px;
        }
        .right{
            width: 300px;
            background-color: bisque;
            padding: 10px;
            border-radius: 10px;
        }
        .main_container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            margin-top: 20px;
        }
