*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: #000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #b6b5ab;
}
/**********************Navbar */
header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    background-color: #000;
    color: #b6b5ab;
    padding: 30px 30px 0px 30px;
}

.tailArt {
    color: brown;
    font-weight: 900;
}
.tailArt:hover {
    opacity:0.6;

}

nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

ul {
    list-style: none;
    display: flex;
    flex-direction:row;
    gap: 40px;
    margin-right: 10px;
}

li{
    display: inline;
}
li>a{
    color: #b6b5ab;
    text-decoration: none;
}
li>a:hover{
    color: brown;
}
/* main */
main{
    padding: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #000;
    color: #b6b5ab;
    padding: 10px;
}
footer>a{
    color: #b6b5ab;
    text-decoration: none;
}
footer>a:hover{
    color: brown;

}

.contact{
    color: #b6b5ab;
}
